*{
    box-sizing: border-box;
}
.education-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.education-text-left-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-left: 150px;
}
.education-heading{
    margin: 0;
    font-size: 40px;
    padding: 20px;
}
.education-title-wrapper{
    padding: 20px;  
}
.education-title-container{
    padding-top: 20px;  
}
.education-title-text{
    margin: 0;
    padding-top: 20px;
    font-size: 18px;
    color: rgb(73, 73, 73);
}
.education-text{
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
}
.education-sub-heading{
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
}



.education-description-right-wrapper{
    border: 1px solid rgba(254, 177, 82, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    margin-right: 100px;
}

@media (max-width:768px){
    .education-container{
        padding-top: 30px;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .education-heading{
        padding: 0;
        padding-top: 30px;
    }
    .education-text-left-container{
        margin-left: 20px;
    } 
    .education-description-right-wrapper{
        margin-left: 10px;
        margin-right: 10px;
    }
    .education-title-wrapper{
        padding: 0;  
    }
}
