*{
    box-sizing: border-box;
}
.experience-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.experience-text-left-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-left: 150px;
}
.experience-heading{
    margin: 0;
    font-size: 40px;
    padding: 20px;
}
.experience-title-wrapper{
    padding: 20px;  
}
.experience-title-container{
    padding-top: 20px;  
}
.experience-title-text{
    margin: 0;
    padding-top: 20px;
    font-size: 18px;
    color: rgb(73, 73, 73);
}
.experience-text{
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
}
.experience-sub-heading{
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
}



.experience-description-right-wrapper{
    border: 1px solid rgba(254, 177, 82, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    margin-right: 100px;
}

@media (max-width:768px){
    
}

