.footer-wrapper{
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: right;
    background-color: rgb(255, 255, 255);
}

.footer-link{
    color: gray;
    font-size: 30px;
    margin: 10px;
}
.footer-credentials{
    text-align: left;
    font-size: 15px;
    color: gray;
    margin-right: 100px;
}
.footer-nav{
    margin-right: 200px;
}


@media (max-width:768px){
    .footer-credentials{
        display: none;
    }
    .footer-wrapper{
        display: flex;
        justify-items: center;
        align-items: center;
    }
}