
.logo{
    font-family: 'Cedarville Cursive', cursive;
    margin: 0;
    margin-left: 20px;
    padding-left: 3px;
    font-size: 30px;
    text-align: left;
    color: rgba(55, 67, 235, 0.9);
}
.fixed-header{
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(0.25turn, #808080, rgb(204, 204, 204)); */
    z-index: 999;
}
#main-header-nav{
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-header-nav a{
    padding: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    transform: scale(1);
}
#main-header-nav a:hover{
    transform: scale(1.2);
    color: rgba(254, 177, 82, 0.9);
    font-weight: 900;
}
#main-header-nav a:focus{
    outline: none;
}

@media (max-width: 500px){
    .fixed-header{
        /* position: fixed; */
        grid-template-columns: 1fr 1fr;
        /* background: linear-gradient(0.25turn, #808080, rgb(204, 204, 204)); */
    }
}