    .profile-pageWrapper{
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        text-align: left;
        margin: 0 auto;
        width: 60%;
        height: fit-content;
        align-items: center;
    }
    /* .profile-section-container, .profile-skills-container{
        width: 90%;
    } */
    .profile-heading{
        margin: 0;
        text-align: center;
        color: rgb(204, 219, 219);
    }
    .profile-text{
        text-align: justify;
        margin: 0;
        font-size: 10px;
        color: azure;
    }
    .profile-lineitems-container, .skill-lineitems-container {
        margin: 10px auto;
        text-align: left;
    }
    .profile-headings-lineitems{
        margin: 0;
        color: rgb(204, 219, 219);
    }
    .profile-text-lineitems{
        margin: 0;
        font-size: 10px;
        color: azure;
    }
    .profile-line-item-wrapper{
        margin: 10px auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
    
    .skill-line-item-wrapper{
        margin: 10px auto;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .skill-list-headings{
        margin: 0;
        color: rgb(204, 219, 219)
    }
    .leng-icon{
        font-size: 25px;
        color: azure;
        transition: all 0.3s ease-in-out;
        text-align: center;
    }
    .leng-icon:hover{
        transform: scale(1.1);
        color: rgb(106, 208, 255);
        text-shadow: 1px 1px 2px rgb(98, 110, 115);
    }
    
    .profile-background{
        width: 100%;
        height: 100vh;
        background-color: rgb(172, 108, 83);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
    }

    @media (max-width:768px){
        .profile-container{
            grid-template-columns: none;
            grid-template-rows: 1fr 1fr;
        }
    }